@theme {
  --font-mono: "JetBrains Mono", monospace;

  --animate-fade-out: fadeOut 0.5s ease-in forwards;
  --animate-fade-in-bottom-to-top: fadeInBottomToTop 0.3s ease-in-out;
  --animate-scale-up: scaleUp 0.5s ease-in-out;
  --animate-loading-bar: loading-bar 1.4s ease-in-out infinite;

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeInBottomToTop {
    from {
      opacity: 0;
      transform: translateY(100vh);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes scaleUp {
    from {
      transform: scale(1) rotate(0deg);
    }
    25% {
      transform: scale(1.05) rotate(8deg);
    }
    50% {
      transform: scale(1.1) rotate(-8deg);
    }
    75% {
      transform: scale(1.05) rotate(8deg);
    }
    to {
      transform: scale(1) rotate(0deg);
    }
  }

  @keyframes loading-bar {
    0% {
      transform: translateX(-100%);
      width: 40%;
    }
    50% {
      transform: translateX(100%);
      width: 60%;
    }
    100% {
      transform: translateX(260%);
      width: 40%;
    }
  }
}
