@theme {
  --font-mono: "JetBrains Mono", monospace;

  --animate-fade-out: fadeOut 0.5s ease-in forwards;
  --animate-fade-in-bottom-to-top: fadeInBottomToTop 0.3s ease-in-out;
  --animate-scale-up: scaleUp 0.5s ease-in-out;
  --animate-left-in: left-in 0.5s ease-in both;
  --animate-left-out: leftOut 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeInBottomToTop {
    from {
      opacity: 0;
      transform: translateY(100vh);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes scaleUp {
    from {
      transform: scale(1) rotate(0deg);
    }
    25% {
      transform: scale(1.05) rotate(8deg);
    }
    50% {
      transform: scale(1.1) rotate(-8deg);
    }
    75% {
      transform: scale(1.05) rotate(8deg);
    }
    to {
      transform: scale(1) rotate(0deg);
    }
  }

  @keyframes leftIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
      backface-visibility: hidden;
    }
    to {
      opacity: 1;
      transform: translateX(0);
      transform-origin: top left;
    }
  }

  @keyframes leftOut {
    from {
      opacity: 1;
      transform: translateX(0);
      transform-origin: top left;
    }
    to {
      opacity: 0;
      transform-origin: top left;
      transform: translateX(-100%);
      backface-visibility: hidden;
    }
  }
}
